@import './mixins';
@import './variables';


.nav{
    @include flex-row;
    background-color: $primary;
    padding: $s-pad;
    justify-content: space-between;

    h1,h2{
        color: white;
    }

    h2{
        @include mobile{
            font-size: 1.2rem;
        }
    }
    
    @include mobile{
        padding: $xs-pad;
    }

    

    #logOut{
        @include mobile{
            display: none;
        }
    }

    #logOutMobile{
        display: none;
        @include mobile{
            display: block;
        }
    }

    ul{
        @include flex-row;
        gap: 3rem;

        li{
            color: $default;
        }

        @include mobile{
            display: none;
            position: fixed;
            right: 0;
            top: 0;
            height: 100%;
            flex-direction: column;
            background-color: $dark;
            width: 50%;
        }
    }

    button{
        padding: $xs-pad;
        border-radius: $s-border-radius;
        cursor: pointer;
    }
}

.toggler{
    display: none;

    @include mobile{
        display: block;
        z-index: 9000000;
    }
}